body{
    background-color: white;
}

#quote-box {
    margin: auto;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: coral;
    border-width: 3px;
    background-color: black;
    color: coral;
}
#new-quote{
    color: black;
    width: 20%;
    height: 20%;
    margin: 10%;
    border-radius: 5%;
    border-style: solid;
    background-color: coral;
    padding: 2%;
}